html, body {
    background-color: white;
    max-height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

h2 {
    margin-bottom: 25px;
}

.bill-error {
    font-size: small;
    color: red;
    display: none;
    text-align: center;
}

.calculator-container {
    width: 100%;
    min-width: 80%;
    margin-top: 35vh;
    height: auto;
    text-align: center;
    overflow-wrap: break-word;
}

.calculator-wrapper {
    width: 40vw;
    margin: 0 auto;
}

.calculator-output-wrapper {
    display: none;
    text-align: center;
}